.wrapper {
    width: 100px;
    height: auto;
    overflow: hidden;
}
button,.wrapper {
      display: block;
      margin: 20px auto;
  }
  .div {
    margin-top: 20px;
    background:#98bf21;
    height:100%;
    width:100%;
  }